* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

#fixed-index-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 20vh;
}

#header-index-logo {
    width: 8vh;
}

#animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('https://www.wabi.it/img/snow.gif');
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: 0.1;
}

#upper-jumbotron {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
}

#upper-jumbotron h1 {
    margin-left: 6%;
    font-size: 9vw;
    position: relative;
    top: 40%;
}

#upper-jumbotron h1:first-child::before {
    content: "";
    width: 15%;
    padding: 1px;
    background-color: white;
    position: absolute;
    left: -15%;
    top: 60%;
}


/*contact form*/

#contact-form {
    padding-top: 10vh;
    margin-bottom: 20vh;
}

.form-group {
    font-size: 16px;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 15px;
    margin: 50px auto;
}

.form-group input {
    background-color: transparent;
    border: none;
    border-bottom: solid white 2px;
    padding: 12px 0;
    color: white;
    width: 100%;
}

.form-group input:focus-visible {
    outline: none;
}

.form-group select {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid white 2px;
    padding: 12px 0;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#contact-form button[type=submit] {
    width: 99%;
    margin: auto;
    height: 4vh!important;
    border: none;
}

.checkbox-label {
    line-height: 25px;
}

#checkboxes-contactform input {
    width: 5px!important;
    margin-right: 5px;
}

#contact-form-infos hr {
    background-color: white;
    padding: 1px;
    width: 100%;
    margin-bottom: 10vh;
}

#contact-form-infos h1,
#contact-form-infos h2,
#contact-form-infos h3,
#contact-form-infos h4,
#contact-form-infos h5,
#contact-form-infos h6 {
    color: #999999;
}

#footer {
    height: 20vh;
    background-color: #000;
    bottom: 0;
}